extends layout

block content
  h1= title
  h3 Options:
  ul
    li /details
    li /details/{product-name}
  h3 Try it Out:
  ul
    li
      a(href='/details') /details
    li
      a(href='/details/shirt') /details/shirt
